{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<!-- White Overlay -->
	<div class="white-overlay"></div>
	<div class="container mb-2">
		<div class="row">
			<div class="col text-center">
				<h2 class="text-black hero-font text-uppercase">Shopping Bag</h2>
				<hr class="w-50 mb-1">
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% if bag_items %}
					<div class="table-responsive rounder">
						{{ bag_items }}
					</div>
				{% else %}
					<p class="mb-5">Your bag is empty...</p>
					<a href="{% url 'products' %}" class="hero-font shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
						<i class="fas fa-chevron-left"></i>	 Take Me Shopping
					</a>
				{% endif %}
			</div>
		</div>
	</div> 
{% endblock %}