{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<!-- Shopping Bag Page -->
	<div class="container-fluid large-container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="hero-font text-uppercase">Shopping Bag</h1>
                <hr class="w-50 mb-5">
            </div>
        </div>
        {% if bag_items %}
            {% for item in bag_items %}
                <div class="row mb-5 justify-content-center">
                    <div class="col-12 col-md-7 col-lg-2">
                        {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-7 col-lg-2">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0"><small>£ {{ item.product.price }}</small></p>
                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-info" 
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-small"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number"
                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-info"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-small"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update-link btt-link text-info"><small>Update</small></a>
                        <a class="remove-item btt-link text-danger float-right" id="remove_{{ item.item_id }}">
                            <small>Remove</small>
                        </a>
                        <p class="my-0">£ {{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>       
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 text-right">
                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4 mb-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                        </p>
                    {% endif %}
                    <a class="btn btn-light mt-1" href="{% url 'products' %}">
                        <span class="icon">
                            <i class="text-info fas fa-chevron-left"></i>
                        </span>
                        <span class="text-info font-weight-bold text-uppercase">Keep Shopping</span>
                    </a>
                    <a class="btn btn-info mt-1" href="{% url 'checkout' %}">
                        <span class="text-uppercase font-weight-bold text-light">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>  
        {% else %}
            <!-- Shopping Bag Empty -->
            <div class="text-center mt-3">
                <h3 class="hero-font text-uppercase">Your bag is empty.</h3>
                <a class="btn btn-light btn-lg  mt-5" href="{% url 'products' %}">
                    <span class="icon">
                        <i class="text-info fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase font-weight-bold text-info">Keep Shopping</span>
                </a>
            </div>
        {% endif %}
	</div> 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>
	//Update product quantity on update click
	$('.update-link').click(function(e) {
		var form = $(this).prev('.update-form');
		form.submit();
	});

	//Remove product from bag on remove click and reload page
	$('.remove-item').click(function(e) {
		var csrfToken = "{{ csrf_token }}";
		var itemId = $(this).attr('id').split('remove_')[1];
		var url = `/bag/remove/${itemId}/`;
		var data = {'csrfmiddlewaretoken': csrfToken};

		$.post(url, data)
		.done(function() {
			location.reload();
		});
	});
</script>
{% endblock %}