/* Profile template form CSS*/
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* Fix to prevent the order history becoming too long*/
.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.table {
    color: #fafafa;
}

a {
    color: #9e9e9e;
}

a:hover {
    color: #17a2b8
}