html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/media/homepage-heroimage.jpg') no-repeat center center fixed;
    background: cover;
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #fafafa !important;
}

/* -------------------------------- Color CSS */
.bgc-offwhite {
    background-color: #fafafa;
}

.dropdown-menu {
    background-color: #001735;
}

.dropdown-item {
    font-weight: 700;
    color: #fafafa;
}

.text-black {
    color: #001735 !important;
}

.text-white {
    color: #fafafa;
}

/* -------------------------------- Project CSS */
hr {
    border-top: 2px solid #001735;
}

.main-logo-link {
    width: fit-content;
}

.hero-font {
    font-weight: 700;
}

.white-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------------------------- Button Styles */
.shop-now-button {
    background: white;
    color: #001735;
    min-width: 260px;
}

.btn-black {
    background: #001735;
    color: white;
    border: 2px solid #001735;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #f57c00;
    color: #001735;
}

.btn-wishlist {
   border: 2px solid #001735;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Form Styles */
.form-control {
    border-radius: 0;
}

.border-black {
    border: 2px solid #001735 !important;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Fix Mobile/Tablet navbar */
@media (max-width: 992px) {
    ul {
        padding: 0;
        margin: 0;
    }

    .navbar-toggler {
        border: none;
        color: #001735;
    }

    .nav-link {
        padding: 0 .9rem;
    }
}

/* Add additional padding to the top to drop body on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}