html {
    height: 100%;
}


/*
Fonts
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

body {
    background: url('/media/homepage-heroimage.jpg') no-repeat center center fixed;
    background: fixed;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Playfair Display', serif;
}