<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="font-weight-bold dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">
                    By Price
                </a>
                <a class="font-weight-bold dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">
                    By Category
                </a>
                <a class="font-weight-bold dropdown-item" href="{% url 'products' %}">
                    All Products
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=dumbells">
                Dumbbells
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=kettlebells">
                Kettlebells
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=bodyweights">
                Body Weights
            </a>
        </li>
    </ul>
</div>