<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="roboto font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}">
                All Products
            </a>
        </li>
        <li class="nav-item">
            <a class="roboto font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=dumbells">
                Dumbbells
            </a>
        </li>
        <li class="nav-item">
            <a class="roboto font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=kettlebells">
                Kettlebells
            </a>
        </li>
        <li class="nav-item">
            <a class="roboto font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=bodyweights">
                Body Weights
            </a>
        </li>
    </ul>
</div>