{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container mt-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt=" {{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png " alt=" {{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="products-detail-container my-5">
                    <h2 class="mb-4 pt-md-5 text-black font-weight-bold"> {{ product.name }}</h2>
                    <h2 class="text-black lead mb-2 text-left font-weight-bold">£{{ product.price }}</h2>
                    {% if product.category %}
                    <p class="small">
                        <a class="text-muted text-black font-weight-bold" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-hashtag"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3 text-black"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-outline-black rounded-0 mt-5" href="{% url 'products' %}">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input class="btn btn-black rounded-0 text-uppercase mt-5" type="submit" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6 offset-lg-3">
                <div class="products-description-container">
                    <h2 class="text-black font-weight-bold mt-5">About this product</h2>
                    <p class="text-black lead mt-2 text-left mt-5">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <!-- Product Reviews-->
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 offset-lg-3">
                <div class="review-container">
                    <h2 class="text-black font-weight-bold mt-5">Reviews</h2>
                    <!--Review Form -->
                    {% if request.user.is_authenticated %}
                        <form action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </form>
                    {% else %}
                        <p> You must have an account or be logged in to leave a review.</p>
                    {% endif %}
                    <!-- Showing all product reviews-->
                    {% for review in product.reviews.all %}
                        <div class="card">
                            <p><strong>Date:</strong>{{ review.date_added|date:"d-m-Y"}}</p>
                            <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No reviews for this product, you can be the first...</p>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>      
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
            
            