{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="white-overlay"></div> 
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-black hero-font text-uppercase">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt=" {{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png " alt=" {{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0 text-black font-weight-bold"> {{ product.name }}</p>
                            </div>
                            <div class="card-footer bgc-offwhite pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-black lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-3" value="Add to Bag">
                                <a class="btn btn-wishlist rounded-0 mt-3" href="">
                                    <i class="far fa-heart" data-toggle="tooltip" data-placement="right" title="Add to wishlist"></i>
                                </a>
                                <hr class="w-80 mb-1">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>      
{% endblock %}